
<ion-header>
  <ion-toolbar>
    <ion-title class="head">
      Scan
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <button color="primary" class="btn toScan" (click)="presentModal()">Tap to Scan</button>
    <ion-card class="tracker-list">
      <ion-card-content>
        <ng-container *ngIf="trackers$ | async as trackers">
          <a class="text">Detected trackers will appear here. Tap the button above to begin scanning.</a>
          <div *ngFor="let tracker of trackers">
          <ion-item (click)="trackerSelect(tracker.address)" detail>
            {{tracker.name? tracker.name : null}}
          </ion-item>
          </div>
        </ng-container>
      </ion-card-content>
    </ion-card>

</ion-content>
