<ion-header>
  <ion-toolbar>
    <ion-title>modalPage</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    Does the device that you just found belong to you?
	If not, the device may have been planted on your person for nefarious purposes.
	If you don't know how to proceed, calling law enforcement agencies might be a good start.
	They can help you get the resources you need and help dispose of the device you just found.
	If you need any further assistance, you can click the button below to find any domestic abuse 
	shelthers near you.
</ion-content>
