<ion-header>
  <ion-toolbar>
      <ion-title>
            Tile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--  
  <p *ngIf="device.color = 2">
    <img src="https://i.imgur.com/1Gjbpgd.png"/>
  </p>
  <p *ngIf="device.color = 1">
    <img src="https://i.imgur.com/1Gjbpgd.png"/>
  </p>
  <p *ngIf="device.color = 0">
    <img src="https://i.imgur.com/1Gjbpgd.png"/>
  </p>
  -->   

    <img src="https://i.imgur.com/1Gjbpgd.png"/>
<!-- Display distance (currently testing) -->
     <ion-text class="ion-text-center"> 10 m away </ion-text> 

     <div><ion-button shape="round" color="primary">Found</ion-button></div>
     <div><ion-button shape="round" color="primary">Whitelist this device</ion-button></div>
     <ion-button shape="round" color="medium">Need Help?</ion-button>

     <script>
     </script>
</ion-content>
