h1{
  text-align: center;
}

img {
    width: 70%;
    height: auto;
    position: relative;
    left: calc(14% - 20px);
    margin: 20px;
  }

  .center{
    text-align: center;
  }

.option-button{
  width: 70%;
}

.address{
  text-overflow: ellipsis;
  color: grey;
  font-size: 14px;
  width: 100%;
}