<ion-header>
  <ion-toolbar>
    <ion-title>termsandconditons</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    By accessing or using any of the Services, you agree to be bound by these Terms and Conditions. These Terms and Conditions expressly incorporate by reference and include the Service's Privacy Policy and any guidelines, policies or additional terms or disclaimers that may be posted and/or updated on the Service or on notices that are sent to you. If you do not agree with these Terms and Conditions, please do not use the Services. You may not copy, display, distribute, modify, publish, reproduce, store, transmit, post, translate or create other derivative works from, or sell, rent or license all or any part of the Content, or products or services obtained from the Services, in any medium to anyone, except as otherwise expressly permitted under these Terms and Conditions, or any relevant license or subscription agreement or authorization by us.

    You may not reverse engineer, disassemble, decompile or translate any software in the Content, or otherwise attempt to derive the source code of such software, except to the extent expressly permitted under applicable law, without our prior written permission. You may not engage in the systematic retrieval of Content from the Services to create or compile, directly or indirectly, a collection, compilation, database or directory without our prior written permission.
    We provide the Services using a commercially reasonable level of skill and care, but neither BackTrack nor its suppliers or licensors make any specific promises about the Services, including the Content or any Submission therein. For example, we don’t make any commitment that the operation of the Services will be uninterrupted or error-free; that any defects will be corrected; that the Services, including the server that makes them available, are free of viruses or other harmful components; or as to the accuracy, completeness, reliability, availability, suitability, quality, non-infringement, operation or result obtained from the use of any Content or Submission provided on, accessible from or distributed through the Services.

    BackTrack does not claim ownership, endorse or take responsibility for any third-party products, information, guidelines, materials or services that may be offered, advertised, provided or displayed on the Service or incorporated in the Content or any Submission contained on, accessible from or distributed through the Services.

    You hereby agree to indemnify and hold BackTrack, its directors, officers, shareholders, predecessors, successors in interest, employees, agents, suppliers and licensors harmless from and against any and all third-party claims of liability, losses, damages and costs, including, without limitation, reasonable attorneys' or legal fees, arising out of or in connection with your violation of these Terms and Conditions, and your use of or inability to use any of the Services or the Content or Submissions.
        
    <ion-button expand="full" (click)="closeModal()">Accept</ion-button>
    


</ion-content>
