<ion-header>
  <ion-toolbar>
    <ion-title>Tutorial</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content fullscreen padding scroll-y="false">
    <ion-slides>

        <ion-slide>
          <ion-grid>
              <ion-row>
                <ion-col size-md="6" offset-md="3">
                  <h2>Welcome to the Backtrack</h2>
                  <p>This app is design to help you find any trackers nearby that are possibly being use for malicious intents.</p>
             </ion-col>
           </ion-row>
         </ion-grid>
        </ion-slide>
  
        <ion-slide>
          <ion-grid>
              <ion-row>
                <ion-col size-md="6" offset-md="3">
                  <img src='assets/BT_Scan.png'/>
                  <h2>How to scan</h2>
                  <p>To begin the scan, make sure you are standing in the room or location you want to look for trackers and tap the <font color="blue">blue button</font> towards the top of the screen.</p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-slide>
  
        <ion-slide>
          <ion-grid>
            <ion-row>
              <ion-col size-md="6" offset-md="3">
               <img src='assets/BT_Search.png' style="width:210px;height:300px;"/>
               <h2>List of trackers</h2>
               <p>After you begin scanning, the app will bring up a list of trackers under the button, if there are any nearby.</p><p>You can also choose to stop scanning at any point by pressing the <font color="red">red button.</font></p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-slide>

        <ion-slide>
          <ion-grid>
            <ion-row>
              <ion-col size-md="6" offset-md="3">
               <img src='assets/BT_Find.png' style="width:210px;height:300px;"/>
               <h2>Choosing an individual Tracker</h2>
               <p>When you choose one of the trackers from the list, you will be taken to this page. This will tell you the distance you are away from tracker. The color of the circle will also show how far you are from it:</p><p><font size="3">If the color is <font color="green">Green</font>, you are within <b>2</b> meters</font></p><p><font size="3">If the color is <font color="#FFD801">Yellow</font>, you are within <b>10</b> meters</font></p><p><font size="3">If the color is <font color="red">Red</font>, you are farther than <b>10</b> meters</font></p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-slide>

        <ion-slide>
          <ion-grid>
            <ion-row>
              <ion-col size-md="6" offset-md="3">
               <img src='assets/BT_whitelist.png'/>
               <h2>Whitelisting</h2>
               <p>If you know one of the trackers that was pulled up on the list is yours and it's safe, you can whitelist it so it no longer shows up when you are scanning.</p> <p>Whitelisted items can be managed from the <i>Settings</i> page.</p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-slide>

        <ion-slide>
            <ion-grid>
              <ion-row>
                <ion-col size-md="6" offset-md="3">
                 <img src='assets/BT_Found.png'/>
                 <h2>Resources</h2>
                 <p>When you tap the "Found" button or when you choose to look at the resources in the <i>Resource</i> tab, you will be given links for pages that can give you further advice on what to do next.</p>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-slide>

          <ion-slide>
              <ion-grid>
                <ion-row>
                  <ion-col size-md="6" offset-md="3">
                   <img src='assets/BT_Always.png'/>
                   <h2>Always On Option</h2>
                   <p>This app also allows you to constantly scan for trackers while the app is not opened. This feature will take note if there are any trackers constantly around you throughout the day. If the app detects a tracker after a certain amount of times, you will be sent a notification.</p>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-slide>

          <ion-slide>
            <ion-grid>
              <ion-row>
                <ion-col size-md="6" offset-md="3">
                  <img src='assets/BT_Cat.png'/>
                  <h2>Panic Mode</h2>
                  <p>At the bottom right of the screen will be a Panic button. If you want to obscure what you are doing to nearby people, pressing this button will bring up a cat video that hides the previous screen.</p>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-slide>
  
        <ion-slide>
          <ion-grid>
            <ion-row>
              <ion-col size-md="6" offset-md="3">
                <h2>We want you to be safe</h2>
                <p>You can always come back to the tutorial from the <i>Resources</i> tab</p>
                <ion-button fill="clear" (click)="ReadTutorial()">Continue <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-slide>

    </ion-slides>
  </ion-content>
</ion-content>
